# Created from Github.com under developer options
GITHUB_ID="xxxxxxxx"
GITHUB_SECRET="xxxxxxxx"

# sectret generated with openssl rand -base64 32
AUTH_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
AUTH_URL="http://localhost:3000/api/auth"

# Added the name of the collection after "mongodb.net"
MONGO="mongodb+srv://xxx@xxx.z5xcone.mongodb.net/fxcollectionname?retryWrites=true&w=majority"